<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
</head>
<body>
<header id="main-header">
    <h1 class="title">{{title}}</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/map">Map</a>
    </nav>
</header>
{{{body}}}
</body>
</html>
