<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
</head>
<body>
<div id="common">
    <h1 class="title">{{title}}</h1>
    <nav id="nav">
        <a href="/">Home</a>
        <a href="/map">Map</a>
    </nav>
</div>
{{{body}}}
</body>
</html>
