<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
</head>
<body>
<h1>{{title}}</h1>
<nav id="nav">
    <a href="/">Home</a>
    <a href="/map">Map</a>
</nav>
{{{body}}}
</body>
</html>
