<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/line.js"></script>
    <script src="/scripts/station.js"></script>
    <script src="/scripts/mapDrawer.js"></script>
    <script src="/scripts/map.js" defer></script>
</head>
<body>
    <div id="map"></div>
    <div id="sidebar">
        <div id="options">
            <button type="button" name="save" id="button-save" disabled>Save</button>
            <button type="button" name="load" id="button-load" disabled>Load</button>
            <button type="button" name="undo" id="button-undo" disabled>Undo</button>
            <button type="button" name="redo" id="button-redo" disabled>Redo</button>
        </div>
        <div id="sidebar-line-editor">
            <button type="button" name="add station" id="button-add-station">Add Station</button>
            <div id="sidebar-line-editor-icon"></div>
        </div>
        <div id="sidebar-line-menu"></div>
        <div id="sidebar-line-map"></div>
    </div>
</body>
</html>