<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/javascripts/map.js" defer></script>
</head>
<body>
    <div id="map"></div>
    <div id="pane" class="overlay"></div>
</body>
</html>