<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/ui.js"></script>
    <script src="/scripts/files.js"></script>
    <script src="/scripts/cityMap.js"></script>
    <script src="/scripts/line.js"></script>
    <script src="/scripts/station.js"></script>
</head>
<body>
<main id="map"></main>
<section id="ui">
    <ul class="tool-menu">
        <li>
            <button type="button" name="save" id="button-save">Save</button>
        </li>
        <li>
            <button type="button" name="load" id="button-load">Load</button>
        </li>
        <li>
            <button type="button" name="undo" id="button-undo" disabled>Undo</button>
        </li>
        <li>
            <button type="button" name="redo" id="button-redo" disabled>Redo</button>
        </li>
    </ul>
    <p id="current-action"></p>
    <ul class="tab-menu">
        <li class="tab-link">Lines</li>
        <li class="tab-link">Stations</li>
        <li class="tab-link">Transfers</li>
    </ul>
    <br><br>
    <section id="lines-content" class="tab-content">
        <ul class="tool-menu">
            <li>
                <button type="button" name="new-line" id="button-line-add" disabled>New Line</button>
            </li>
            <li>
                <button type="button" name="delete-line" id="button-line-delete" disabled>Delete Line</button>
            </li>
            <li>
                <button type="button" name="add-station" id="button-line-station-add" disabled>Add Station</button>
            </li>
            <li>
                <button type="button" name="delete-station" id="button-line-station-delete" disabled>Remove
                    Station</button>
            </li>
        </ul>
        <section id="info-box-line" class="info-box">
            <header>
                <div id="line-element-container"></div>
                <h1 class="name"></h1>
            </header>
            <p id="terminal-1"></p>
            <p id="terminal-2"></p>
            <!-- <p id="ridership"></p> -->
            <p>Station Count: <span id="station-count"></span></p>
            <ul id="line-station-list" class="station-list"></ul>
        </section>
        <ul id="line-group-list"></ul>
    </section>
    <section id="stations-content" class="tab-content">
        <ul class="tool-menu">
            <li>
                <button type="button" name="add-station" id="button-station-add" disabled>New Station</button>
            </li>
            <li>
                <button type="button" name="delete-station" id="button-station-delete" disabled>Delete Station</button>
            </li>
            <li>
                <button type="button" name="add-transfer" id="button-transfer-add" disabled>New Transfer</button>
            </li>
            <li>
                <button type="button" name="delete-transfer" id="button-transfer-delete" disabled>Delete Transfer</button>
            </li>
        </ul>
        <section id="info-box-station" class="info-box">
            <header>
                <h1 id="station-name" class="name"></h1>
            </header>
            <!--
            <p>
                <span id="station-borough"></span>
                <br>
                <span id="station-neighborhood"></span>
            </p>
            -->
            <p id="station-residents"></p>
            <p id="station-jobs"></p>
            <ul id="station-lines" class="line-list"></ul>
        </section>
        <ul id="station-list" class="station-list"></ul>
    </section>
    <section id="transfers-content" class="tab-content">
        <section id="info-box-transfer" class="info-box">
        </section>
        <p>This is the transfers tab.</p>
    </section>
</section>
</body>