<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/line.js"></script>
    <script src="/scripts/station.js"></script>
    <script src="/scripts/mapDrawer.js"></script>
    <script src="/scripts/map.js" defer></script>
</head>
<body>
<main id="map"></main>
<section id="sidebar">
    <ul id="options" class="horizontal">
        <li>
            <button type="button" name="save" id="button-save" disabled>Save</button>
        </li>
        <li>
            <button type="button" name="load" id="button-load" disabled>Load</button>
        </li>
        <li>
            <button type="button" name="undo" id="button-undo" disabled>Undo</button>
        </li>
        <li>
            <button type="button" name="redo" id="button-redo" disabled>Redo</button>
        </li>
    </ul>
    <p id="current-action"></p>
    <div>
        <ul class="tab-menu">
            <li class="tab-link">Lines</li>
            <li class="tab-link">Stations</li>
            <li class="tab-link">Transfers</li>
        </ul>
    </div>
    <br><br>
    <section id="lines-content" class="tab-content">
        <ul class="horizontal">
            <li>
                <button type="button" name="new-line" id="button-line-add" disabled>New Line</button>
            </li>
            <li>
                <button type="button" name="delete-line" id="button-line-delete" disabled>Delete Line</button>
            </li>
            <li>
                <button type="button" name="add-station" id="button-line-add-station" disabled>Add Station</button>
            </li>
            <li>
                <button type="button" name="delete-station" id="button-line-delete-station" disabled>Remove Station
                </button>
            </li>
        </ul>
        <div id="line-info" class="info-box">
            <div id="line-icon-container"></div>
            <p>
                <span id="terminus-1"></span>
                <br>
                <span id="terminus-2"></span>
            </p>
            <div id="ridership"></div>
            <p>Station Count: <span id="number-stations"></span></p>
            <ul id="line-station-list"></ul>
        </div>
        <div id="lines-list"></div>
    </section>
    <section id="stations-content" class="tab-content">
        <ul class="horizontal">
            <li>
                <button type="button" name="add-station" id="button-station-add" disabled>New Station</button>
            </li>
            <li>
                <button type="button" name="delete-station" id="button-station-delete" disabled>Delete Station</button>
            </li>
            <li>
                <button type="button" name="add-transfer" id="button-transfer-add" disabled>New Transfer</button>
            </li>
            <li>
                <button type="button" name="delete-transfer" id="button-transfer-delete" disabled>Delete Transfer
                </button>
            </li>
        </ul>
        <div id="station-info" class="info-box">
            <p id="station-name"></p>
            <!--
            <p>
                <span id="station-borough"></span>
                <br>
                <span id="station-neighborhood"></span>
            </p>
            -->
            <p>
                <span id="station-residents"></span>
                <span id="station-jobs"></span>
            </p>
            <div id="station-lines"></div>
        </div>
        <ul id="station-list"></ul>
    </section>
    <section id="transfers-content" class="tab-content">
        <div id="transfer-info" class="info-box">
        </div>
        <p>This is the transfers tab.</p>
    </section>
</section>
</body>